body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #8EC5FC;
background-image: linear-gradient(90deg, #8EC5FC 0%, #E0C3FC 100%);
text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.header1{
  color: antiquewhite;
}
.miniHeader{
  color: blue;
}
.btn{
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  font-size: 1rem;
}
.btnAll{
  padding: 10px;
  display: flex;
  flex-direction: row;
}